body {}

.caja-general {
    height: auto;
}

p,
h1,
h2,
label,
button {
    font-family: Roboto;
}


/***COMIENZO DE NAV SUPERIOR***/

.menu-bars {
    display: none;
}

.sin-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-modo-claro {
    color: #424242;
    background-color: #faf1e6;
    font-family: Roboto;
    font-size: 35px;
    height: 15%;
    padding-top: 20px;
}

.nav-modo-oscuro {
    color: #ffffff;
    background-color: #062925;
}

.boton-nav {
    border: none;
    color: #424242;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
}

.boton-nav:hover {
    background-color: rgba(255, 255, 255, 0.296);
    margin: 5px;
}

.boton-nav-oscuro {
    color: #ffffff;
}


/***FINAL DE NAV SUPERRIOR***/


/***COMIENZO DEL MAIN***/

.main-modo-claro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4dfd0;
    height: 90vh;
}

.main-modo-oscuro {
    background-color: #044a42;
}

.caja-del-meme {
    background-color: black;
    height: 85%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.parrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    background-color: white;
    padding: 15px 0px 15px 0px;
    /* position: absolute; */
}

.caja-del-meme div .imagen {
    width: 100%;
}

#top-text-p {
    top: 0;
    z-index: 1;
}

#bottom-text-p {
    bottom: 0;
}

#imagen {
    display: block;
    flex-grow: 1;
    background-size: cover;
    height: 70%;
}

.top-none,
.bottom-none {
    display: none !important;
}

.top-transparencia,
.bottom-transparencia {
    background-color: transparent !important;
}


/* boton de descargar meme */

#meme-descarga {
    margin-top: 10px;
    background-color: #1b5e20;
    color: white;
    border: 1px solid rgba(32, 148, 32, 0.659);
    width: 160px;
    height: 35px;
}

#meme-descarga:hover {
    background-color: #3f9943;
}


/*** FINAL DEL MAIN ***/


/***COMIENZO SECCION FORMULARIOS***/

.aside-modo-claro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4efe7;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 1px;
    right: 1px;
}

.aside-modo-oscuro {
    background-color: #3a9188;
    color: #ffffff;
}


/* Comienzo del formulario imagen */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 2% 0% 2% 0%;
    font-size: 14px;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.selector-de-colores {
    margin: 15px 0px 15px 0px;
}

.selector-de-colores input {
    margin: 10px;
}

.titulo-filtros {
    font-size: 16px;
    font-weight: 600;
}

.restablece-filtro {
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.restablece-filtro:hover {
    background-color: #d1d9d9;
    transition: 0.1s;
}

.url {
    border: none;
    border-radius: 5px;
    height: 30px;
}

.url:hover {
    background-color: #d1d9d9;
    transition: 0.1s;
}


/* final formulario imagen */


/* Comienzo formulario Texto */

#formularioTexto {
    display: none;
}


/***FINAL DE SECCION FORMULARIOS***/